.main-container {
  background-color: #fffdff;
  display: flex;
  padding: 4.5em 3em;
}

.frame-dolar, .form {
  margin: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 6px black;
}

.form {
  background-color: #fffdff;
  color: #0064e0;
  width: 90%;
  max-width: 500px;
  padding: 3em 1.5em 0 1.5em;
  text-align: center;
}
.form__titulo {
  font-size: 32px;
  margin-bottom: 0.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2em;
}
.form__container--select {
  width: 100%;
  padding: 0.6em 0.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.form__container--input {
  font-size: 1rem;
  padding: 0.6em 0.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.btn {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 1010px) {
  .main-container {
    flex-direction: column;
  }
  .form {
    margin: 20px auto;
  }
}
.navegador {
  height: 80px;
  width: 100%;
  background-color: #0064e0;
  color: white;
}
.navegador__logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}
.navegador ul {
  float: right;
  margin: 0 40px auto 0;
}
.navegador li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
.navegador a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
.navegador a:hover {
  border: 1px solid white;
  transition: 0.5s;
  color: #a3a4ff;
}
.navegador a.navegador__active {
  border: 1px solid white;
}
.navegador #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1075px) {
  .navegador__logo {
    font-size: 32px;
    padding-left: 60px;
  }
  .navegador ul {
    margin-right: 20px;
  }
  .navegador a {
    font-size: 17px;
  }
}
@media (max-width: 974px) {
  .navegador #icon {
    display: block;
  }
  .navegador ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #0064e0;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .navegador ul.show {
    left: 0;
  }
  .navegador li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navegador a {
    font-size: 20px;
  }
  .navegador a:hover {
    border: none;
    color: #a3a4ff;
  }
  .navegador a.navegador__active {
    border: none;
  }
}
@media (max-width: 410px) {
  .navegador {
    height: 60px;
  }
  .navegador__logo {
    font-size: 24px;
    padding-left: 20px;
    line-height: 60px;
  }
  .navegador #icon {
    font-size: 20px;
    margin-right: 20px;
    line-height: 60px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 300vh;
  background-color: #0064e0;
}

.imagenPortada img {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media (min-width: 576px) {
  .form__container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}
.user {
  background-color: #2a80f1;
  border: 3px double #e8d0ff;
  color: white;
  width: 50%;
  flex-wrap: wrap;
  text-align: center;
  display: inline-block;
}

@media (max-width: 768px) {
  .user {
    width: 100%;
  }
}
.aclara {
  color: black;
  bottom: 0;
}

#app {
  display: none;
}

.bottom-section {
  background-color: transparent;
  display: flex;
}

.table-section,
.toggle-section {
  width: 50%;
}

.toggle-section button {
  width: 100%;
}/*# sourceMappingURL=estilos.css.map */