// IMPORTs //
@import "./sass/form", "./sass/navbar", "./sass/_vars.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 300vh;
  background-color: $color1;
}

.imagenPortada {
  img {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media (min-width: 576px) {
  .form__container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

// DOLAR

.user {
  background-color: $color2;
  border: 3px double $color4;
  color: white;
  width: 50%;
  flex-wrap: wrap;
  text-align: center;
  display: inline-block;
}

@media (max-width: 768px) {
  .user {
    width: 100%;
  }
}

// BODY

.aclara {
  color: black;
  bottom: 0;
}

#app {
  display: none;
}

.bottom-section {
  background-color: transparent;
  display: flex;
}

.table-section,
.toggle-section {
  width: 50%;
}

.toggle-section {
  button {
    width: 100%;
  }
}
