
// IMPORTs //
@import "./sass/form";
@import "./sass/navbar";
@import "./sass/_vars.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.imagenPortada {
  img {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

@media (min-width: 576px) {
  .form__container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

// DOLAR

.user {
  background-color: $color2;
  border: 3px double $color4;
  color: white;
  text-align: center;
  display: inline-block;
}



// BODY

.aclara {
  color: black;
  bottom: 0;
}

#app {
  display: none;
}

