.color1 {
  color: #121f56;
}

.color2 {
  color: #603e8c;
}

.color3 {
  color: #20b1d8;
}

.color4 {
  color: #20dbd8;
}

.color5 {
  color: #b9efed;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.imagenPortada img {
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
}

@media (min-width: 576px) {
  .form__container {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.user {
  background-color: darkcyan;
  border: 3px double;
  color: white;
  text-align: center;
  display: inline-block;
}

.aclara {
  color: black;
  bottom: 0;
}

#app {
  display: none;
}

.form {
  background-color: bisque;
  color: darkgrey;
  width: 90%;
  margin: 20px auto;
  max-width: 500px;
  padding: 4.5em 3em;
  text-align: center;
}

.form__titulo {
  font-size: 32px;
  margin-bottom: 0.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form__container {
  margin-top: 3em;
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

.form__container--select {
  width: 100%;
  padding: 0.6em 0.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form__container--input {
  font-size: 1rem;
  padding: 0.6em 0.3em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form__container--input:invalid {
  border: 1px solid red;
}

.btn {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navegador {
  height: 80px;
  width: 100%;
  background-color: mediumaquamarine;
  color: white;
  position: fixed;
}

.navegador__logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}

.navegador ul {
  float: right;
  margin: 0 40px auto 0;
}

.navegador li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

.navegador a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

.navegador a:hover {
  border: 1px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: orangered;
}

.navegador a.navegador__active {
  border: 1px solid white;
}

.navegador #icon {
  color: white;
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 1075px) {
  .navegador__logo {
    font-size: 32px;
    padding-left: 60px;
  }
  .navegador ul {
    margin-right: 20px;
  }
  .navegador a {
    font-size: 17px;
  }
}

@media (max-width: 974px) {
  .navegador #icon {
    display: block;
  }
  .navegador ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: mediumaquamarine;
    top: 60px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navegador ul.show {
    left: 0;
  }
  .navegador li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .navegador a {
    font-size: 20px;
  }
  .navegador a:hover {
    border: none;
    color: orangered;
  }
  .navegador a.navegador__active {
    border: none;
  }
}

@media (max-width: 410px) {
  .navegador {
    height: 60px;
  }
  .navegador__logo {
    font-size: 24px;
    padding-left: 20px;
    line-height: 60px;
  }
  .navegador #icon {
    font-size: 20px;
    margin-right: 20px;
    line-height: 60px;
  }
}
/*# sourceMappingURL=estilos.css.map */