* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagenPortada {
    img {
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
}

@media (min-width: 576px) {
    .form__container {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
}

.aclara {
    color: black;
    bottom: 0;
}

// IMPORTs //
@import "./sass/form";
@import "./sass/navbar";