* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: coral;
}

.formulario {
    position: relative;
    padding: 1rem;
    margin: 1rem -.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
    background-color: red;
}

@media (min-width: 576px) {
    .formulario {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
    }
}