.calculApp {
    height: 420px;
    width: 300px;
    border: 1px solid white;
    border-radius: 5px;
}

.calculApp form {
    height: 100%;
    width: 100%;
    background-color: blue;
}

.calculApp input[type=text] {
    height: 25%;
    width: 90%;
    cursor: default;
    color: blue;
    padding: 15px;
    text-align: right;
    font-size: 30px;
    border: 0;
    outline: none;
    border: 1px solid red;
}