// IMPORT //

@import "_vars.scss";

.prestamosForm {
  background-color: whitesmoke;
  display: flex;
}

.frameDolar {
  margin: auto;
}

.form {
  background-color: $color3;
  color: white;
  width: 90%;
  margin: 20px;
  max-width: 500px;
  padding: 4.5em 3em;
  text-align: center;
  &__titulo {
    font-size: 32px;
    margin-bottom: 0.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2em;
  &--select {
    width: 100%;
    padding: 0.6em 0.3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  &--input {
    font-size: 1rem;
    padding: 0.6em 0.3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    &:invalid {
      border: 1px solid red;
    }
  }
}

.btn {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 1010px) {
  .prestamosForm {
    flex-direction: column;
    padding: 4.5em 3em;
  }
  .form {
    margin: 20px auto;
  }
}
