// IMPORT //

@import "_vars.scss";

.main-container {
  background-color: $color5;
  display: flex;
  padding: 4.5em 3em;
}

.frame-dolar {
  margin: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 6px black;
}

.form {
  background-color: $color5;
  color: $color1;
  width: 90%;
  max-width: 500px;
  padding: 3em 1.5em 0 1.5em;
  text-align: center;
  @extend .frame-dolar;
  &__titulo {
    font-size: 32px;
    margin-bottom: 0.5em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}

.form__container {
  margin-top: 3em;
  display: grid;
  gap: 2em;
  &--select {
    width: 100%;
    padding: 0.6em 0.3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  &--input {
    font-size: 1rem;
    padding: 0.6em 0.3em;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    // &:invalid {
    //   border: 1px solid red;
    // }
  }
}

.btn {
  border-radius: 5px;
  width: 50%;
  margin: auto;
  text-transform: uppercase;
  font-weight: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 1010px) {
  .main-container {
    flex-direction: column;
  }
  .form {
    margin: 20px auto;
  }
}
